[include fluidd.cfg]
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_490053001751333234393935-if00
restart_method: command

[printer]
kinematics: rotary_delta
max_velocity: 1200
max_accel: 500
max_z_velocity: 50
#shoulder_radius:64
shoulder_radius:65.5
#   三个肩部关节形成的水平圆的半径（以毫米为单位），减去效应器
#   必须提供此参数。
#shoulder_height:386
shoulder_height:347
#   肩部关节与床之间的距离 390（以毫米为单位），减去效应器工具头高度 4。
#加入床之后。肩关节与床之间的距离为 368，减去工具头21mm
#   必须提供此参数。
# measured_endstop_angles: 43.23, 42.91, 41.42
# // JY901S imu1: roll=-43.31 pitch=4.70 yaw=-2.47
# // JY901S imu2: roll=-42.95 pitch=-1.19 yaw=-1.71
# // JY901S imu3: roll=-41.39

# 板载 LED 测试配置
[output_pin board_led]
pin: PC13
value: 1

[stepper_a]
    step_pin: PB10
    dir_pin: PB11
    enable_pin: !PB1
    microsteps: 16
    gear_ratio: 50:20
    endstop_pin: ^PB4
    # position_endstop 和 arm_length 通常与 A 轴保持一致
    homing_speed: 50
    #position_endstop: 287   # 机器顶部到台面的距离（初始估值）
    position_endstop: 248
    upper_arm_length: 173.000
    lower_arm_length: 289.90 # 268
    angle:0

[stepper_b]
    step_pin: PA3
    dir_pin: PA4
    enable_pin: !PA2
    microsteps: 16
    gear_ratio: 50:20
    endstop_pin: ^PB5
    angle:120

[stepper_c]
    step_pin: PB12          # 需更换为你主板对应的 C 轴脉冲引脚
    dir_pin: PB14          # 需更换为你主板对应的 C 轴方向引脚（! 表示反向）
    enable_pin: !PB13
    microsteps: 16
    gear_ratio: 50:20
    endstop_pin: ^PB3      # C 轴限位开关引脚
    angle:240
